{% extends 'function/profile_base.html' %}
{% block body%}
<div align="center">
	<p>Name     :  {{user.first_name}}</p>
	<p>E-mail   :  {{user.email}}</p>
	<p>Username :  {{user}}</p>
</div>
<hr>
<div align="center">
{% if user.userprofile.company %}
	<b><p>Company : {{ user.userprofile.company}}</p></b>
{% else %}
	<a href="{% url 'function:add_company' %}">Add Company Name</a>
	{% if company_form %}
	<form method="post" action="{% url 'function:add_company' %}">
		{{company_form.as_p}}
		<input type="submit" name="submit" value="Add">
	</form>
	{% endif %}
{% endif %}
</div>
<hr>
<div align="center">
<p><u>Offers Added</u></p>
{% if ob2.feature_set.all%}
<table border="2">
<tr>
	<th>Offer Name</th>
	<th>Offer Detail</th>
</tr>
	{% for y in ob2.feature_set.all %}
		<tr><td>{{y.feature_name}}</td>
			<td>{{y.feature_detail}}</td>
		</tr>
	{% endfor %}
</table>
{% else %}
<p>N/A</p>
{% endif %}
</div>
{%endblock%}
